input[type=range].styled-slider {
  height: 4px;
  -webkit-appearance: none;
  appearance: none;
}

input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
}

input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 1em;
  background: $blue;
  border: none;
  margin-top: calc(4px * 0.5 - 20px * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 4px;
  border: none;
  border-radius: 0.5em;
  background: $gray;
  box-shadow: none;
}

input[type=range].styled-slider::-webkit-slider-thumb:hover {
  background: $blue;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
  background: $gray;
}

input[type=range].styled-slider::-webkit-slider-thumb:active {
  background: $blue;
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
  background: $gray;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient($blue,$blue) 0/var(--sx) 100% no-repeat, $gray;
}

input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient($blue,$blue) 0/var(--sx) 100% no-repeat, $gray;
}

input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
  background: linear-gradient($blue,$blue) 0/var(--sx) 100% no-repeat, $gray;
}

input[type=range].styled-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 1em;
  background: $blue;
  border: none;
}

input[type=range].styled-slider::-moz-range-track {
  height: 4px;
  border: none;
  border-radius: 0.5em;
  background: $gray;
  box-shadow: none;
}

input[type=range].styled-slider::-moz-range-thumb:hover {
  background: $blue;
}

input[type=range].styled-slider:hover::-moz-range-track {
  background: $gray;
}

input[type=range].styled-slider::-moz-range-thumb:active {
  background: $blue;
}

input[type=range].styled-slider:active::-moz-range-track {
  background: $gray;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient($blue,$blue) 0/var(--sx) 100% no-repeat, $gray;
}

input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
  background: linear-gradient($blue,$blue) 0/var(--sx) 100% no-repeat, $gray;
}

input[type=range].styled-slider.slider-progress:active::-moz-range-track {
  background: linear-gradient($blue,$blue) 0/var(--sx) 100% no-repeat, $gray;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 1em;
  background: $blue;
  border: none;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
  height: 4px;
  border-radius: 0.5em;
  background: $gray;
  border: none;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:hover {
  background: $blue;
}

input[type=range].styled-slider:hover::-ms-track {
  background: $gray;
}

input[type=range].styled-slider::-ms-thumb:active {
  background: $blue;
}

input[type=range].styled-slider:active::-ms-track {
  background: $gray;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: 4px;
  border-radius: 0.5em 0 0 0.5em;
  margin: -undefined 0 -undefined -undefined;
  background: $blue;
  border: none;
  border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower {
  background: $blue;
}

input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
  background: $blue;
}
